<head>
  <title>TinyApp</title>
  <form method="POST" class="" action="/login">
    <p>
      <label for="login">Username:</label>
      <input id="username" type="text" name="username" placeholder="username">
    </p>
    <button type="button" name="login">Sign In</button>
  </form>
  <p>
    Logged in as: <%= username %>
  </p>
</head>
