  <% if (user === undefined) { %>
    <form method="POST" class="" action="/login">
      <p>
        <label for="login">Username:</label>
        <input id="username" type="text" name="username" placeholder="username">
      </p>
      <button>Sign In</button>
    </form>
  <% } else { %>
    <form method="POST" action="/logout">
      <p>
        Logged in as: <%= user %>
      </p>
      <button>Logout</button>
    </form>
  <% } %>
