<!-- <% if (user === null) { %> -->
    <form method="POST" action="/register">
      <a href="/register">Register</a>
    </form>
    <form method="POST" action="/login">
      <a href="/login">Login</a>
    </form>
  <!-- <% } else { %> -->
    <!-- <p>Welcome, <%= user %></p> -->
    <!-- <form method="POST" action="/logout">
      <a href="/login">Logout</a> -->
  <!-- <% } %> -->
